.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 90vw;
  height: 80vh;
  margin: 5vh auto;

  &__image {
    cursor: move;
    height: 200px;
    margin: 10px;
    width: 280px;

    // Active dragging position
    &--active {
      outline: 3px dashed #2c3e50;
      opacity: .5;
    }

    // Image being dragged
    &--dragged {
      opacity: .2;
    }
  }
}
